.chatIcon
  bottom: 15px
  right: 15px
  &-img
    width: 35px
    margin-top: 10px
.chat
  width: 25%  
  bottom: 5px
  right: 10px
  color: #fff
  &-header    
    width: 100%
    height: 6%
  &-btn 
    position: fixed
    text-align: center
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer
    border-radius: 50%
    width: 60px
    height: 60px
    background-color:  #fe8c73
    border-color:  #fe8c73
    color: white
    vertical-align: middle
    line-height: 1.5
    font-size: 2em
  &-btn:hover
    opacity: 0.75
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  &-box     
    position: fixed    
    height: 425px
    border-radius: 3px
    transition: all 1s ease-in-out
    background: rgba(254, 140, 115, 0.8)
  &-close    
    cursor: pointer
    position: absolute
    right: 2%
    top: 0.5%
    img
      margin-top: 7px
      width: 15px
  &-title
    font-size: 125%
    position: absolute
    left: 4%
    margin-top: 8px

    
.msg
  // border: 1px solid black
  &-form
    width: 100%
    position: absolute
    margin: 0 20px
  &-btn    
    border: 1px solid white
    padding: 3% 0%
    width: 13%
    position: absolute
    right: 37px
    top: 4px     
  &-text    
    width: 65%        
  &-container
    height: 290px
    display: block
    overflow: auto
    border: 2px solid white
    margin: 18px
    padding-right: 15px
    padding-left: 15px
    padding-top: 12px
  img
    border-radius: 50%
    width: 47px

.me
  text-align: right

.them
  text-align: left