//each trip in home
.c-tripHome
    border-radius: 2px
    margin-bottom: 30px
    background-color: #F0F0F0
    color: #666

    img
      max-width: 375px
    h3
      font-weight: 300
      font-size: 2em
    p
      font-size: 20px
      font-weight: 100
      margin-bottom: 10%
    &-location
      font-size: 23px
      font-weight: 200
    
.grid
  max-width: 100% !important


.c-input
  &-basic
    width: 200px
    outline: none
    padding: 9px
    border-radius: 2px
    border: 1px
    margin-bottom: 20px
  &:active, &:focus
    border-color: blue
