.landing
  &-header
    text-align: center
    margin-top: 30px
    margin-bottom: 20px
  &-a
    &-container
      display: flex
    &-info
      text-align: center
      width: 33.33%
      margin-right: 30px
      margin-left: 30px
      img
        margin-bottom: 40px
    &-title
      margin-bottom: 40px
  &-how
    position: absolute
    display: inline-block
    &-info
      position: relative
      margin: 0 40px 0 40px
      img
        &-text
          margin-bottom: 30px
  &-c
    &-container
      display: flex

.gif
  height: 350px

.technology
  display: grid
  grid-template-columns: repeat(4, 1fr)
  img
    height: 128px

.team
  margin-left: 50px
  margin-right: 50px
  &-name
    text-align: center
  &-image
    img
      border: 5px solid white
      border-radius: 50%
      height: 200px
      transition: .3s
      &:hover
        filter: blur(5px) brightness(80%)
        transition: .3s
    &:not(img)      
      opacity: 1
  &-container
    position: relative
  &-info
    position: absolute
    text-align: center
    margin-top: 50%
    color: white
    // opacity: 0

.github
  &:hover
    transition: .3s
    opacity: .6

