@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


@mixin transition($method) {
  -ms-transition: $method;
  -webkit-transition: $method;
  transition: $method;
}

@mixin transform($method) {
  -ms-transform: $method;
  -webkit-transform: $method;
  transform: $method;
}


@mixin keyframes($name) {
  @-webkit-keyframes  #{$name} {
    @content;
  }
  @-moz-keyframes  #{$name}  {
    @content;
  }
  @-ms-keyframes  #{$name} {
    @content;
  }
  @keyframes  #{$name} {
    @content;
  }
}

@mixin animation ($name, $duration, $method, $delay, $count) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $method;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $method;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $count;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $method;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: $count;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $method;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}
