@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Playfair+Display|Work+Sans:200,300,400");
@-webkit-keyframes popupBcgFadeIn {
  from {
    background: rgba(0, 0, 0, 0); } }

@-moz-keyframes popupBcgFadeIn {
  from {
    background: rgba(0, 0, 0, 0); } }

@-ms-keyframes popupBcgFadeIn {
  from {
    background: rgba(0, 0, 0, 0); } }

@keyframes popupBcgFadeIn {
  from {
    background: rgba(0, 0, 0, 0); } }

@-webkit-keyframes popupEnter {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@-moz-keyframes popupEnter {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@-ms-keyframes popupEnter {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes popupEnter {
  0% {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

.c-popup--overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  -webkit-animation-name: popupBcgFadeIn;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-name: popupBcgFadeIn;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-name: popupBcgFadeIn;
  -o-animation-duration: 0.3s;
  -o-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-name: popupBcgFadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.c-popup {
  position: relative;
  width: 500px;
  height: 380px;
  margin: 12% auto;
  padding: 40px;
  background-color: #F0F0F0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-animation-name: popupEnter;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-name: popupEnter;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: 0;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-name: popupEnter;
  -o-animation-duration: 0.3s;
  -o-animation-timing-function: ease-out;
  -o-animation-delay: 0;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-name: popupEnter;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }
  .c-popup h3 {
    color: #444;
    padding-bottom: 35px;
    font-weight: 200;
    font-size: 1.6em; }

.chat {
  width: 25%;
  bottom: 0;
  right: 10px;
  border: 2px solid black;
  border-top: none; }
  .chat-header {
    width: 100%;
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
    height: 6%;
    background-color: #0066ff; }
  .chat-btn {
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #0066ff;
    border-color: #0066ff;
    color: white;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 2em; }
  .chat-btn:hover {
    opacity: 0.75; }
  .chat-box {
    position: fixed;
    border: 2px solid black;
    border-top: none;
    height: 350px;
    transition: all 1s ease-in-out; }
  .chat-close {
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 0.5%;
    color: #cce0ff; }
  .chat-title {
    font-size: 125%;
    position: absolute;
    left: 4%;
    color: #e6f0ff; }

.msg {
  border: 1px solid black; }
  .msg-form {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .msg-text {
    width: 65%; }
  .msg-container {
    height: 305px;
    display: block;
    overflow: auto; }
  .msg img {
    border-radius: 50%;
    width: 47px; }

.me {
  text-align: right; }

.them {
  text-align: left; }

.c-tripHome {
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #F0F0F0;
  color: #666; }
  .c-tripHome img {
    max-width: 375px; }
  .c-tripHome h3 {
    font-weight: 300;
    font-size: 2em; }
  .c-tripHome p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10%; }
  .c-tripHome-location {
    font-size: 23px;
    font-weight: 200; }

.grid {
  max-width: 100% !important; }

.c-input-basic {
  width: 200px;
  outline: none;
  padding: 9px;
  border-radius: 2px;
  border: 1px;
  margin-bottom: 20px; }

.c-input:active, .c-input:focus {
  border-color: blue; }

.draw-border {
  box-shadow: inset 0 0 0 2px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.08333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px; }
  .draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px; }
  .draw-border:hover {
    color: #fe8c73; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #fe8c73;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.btn-tran {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: 16px;
  padding: 0.6em 2em;
  letter-spacing: 0.05rem;
  width: 200px;
  margin-top: 13px; }

.google-map {
  width: 500px;
  height: 300px;
  border: none; }

.discover-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .discover-categories-category {
    border-radius: 5%;
    cursor: pointer;
    height: 200px;
    margin: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; }

.discover-image {
  height: 100%;
  width: 100%;
  border-radius: 5%; }
  .discover-image:hover {
    filter: blur(1px) brightness(60%);
    transition: .3s; }

.category {
  font-size: 2em;
  position: absolute;
  color: white; }

.yelp {
  margin: 0.5% 0 0 1%;
  font-style: italic; }
  .yelp-result {
    height: 150px;
    width: 150px; }
  .yelp-header {
    font-size: 2em;
    color: black; }
    .yelp-header:hover {
      color: #fe8c73;
      transition: 0.2s; }
  .yelp-phone {
    font-style: italic; }

.photos-container {
  margin: 2% 0 5% 0; }

* {
  margin: 0;
  font-family: 'Work Sans', sans-serif; }

.landing {
  background-color: #fcf9f4; }
  .landing-hero {
    background-image: url("https://images.unsplash.com/photo-1517383503967-edf012bf14f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dcb1470645a7680542d2bffa67989d82&auto=format&fit=crop&w=2089&q=80");
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .landing-hero__text {
      position: absolute;
      top: 42%;
      left: 30%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: 'Work Sans', sans-serif; }
      .landing-hero__text h1 {
        font-family: 'Arima Madurai', cursive;
        font-size: 5em; }
  .landing-navbar {
    position: fixed !important;
    font-family: 'Work Sans', sans-serif;
    color: white; }
    .landing-navbar__animate {
      text-decoration: none; }
    .landing-navbar__animate:hover {
      color: white; }
    .landing-navbar__animate:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .landing-navbar__animate:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .landing-navbar__login {
      position: fixed;
      top: 4%;
      right: 10%; }
    .landing-navbar__signup {
      position: fixed;
      top: 14%;
      right: 5%;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .landing-content {
    height: 500px; }
    .landing-content-b {
      background-color: #e0d3cb; }
  .landing-footer {
    background-color: #ffffff;
    height: 180px; }

.login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  background-color: #cbc9c5; }
  .login__container {
    margin: 15% auto;
    padding: 3% 5%;
    border: 6px solid white;
    width: 800px; }
    .login__container-section {
      display: inline-block;
      width: 48%; }
      .login__container-section-left {
        border-right: 1px solid white; }
    .login__container-btn {
      border: 1px solid white;
      padding: 2% 0%;
      width: 65%;
      margin: 60px auto;
      cursor: pointer; }
  .login h2 {
    font-weight: 100;
    font-size: 35px;
    text-align: center; }
  .login p {
    display: inline;
    font-size: 20px;
    position: absolute;
    margin: 15px 20px; }
  .login img {
    width: 20%;
    margin-left: 35px; }

.home {
  font-family: 'Work Sans', sans-serif;
  background-color: #ffffff; }
  .home-hero {
    background-image: url("https://images.unsplash.com/photo-1495835788122-ca48931258be?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=acc48b0187b28f7a221362b843f15755&auto=format&fit=crop&w=1950&q=80");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .home-hero__text {
      position: absolute;
      top: 47%;
      left: 23%;
      transform: translate(-50%, -50%);
      font-size: 2em;
      color: white; }
    .home-hero__create {
      position: absolute;
      right: 35px;
      bottom: 23px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fe6340;
      cursor: pointer;
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition: transform .8s ease-in-out; }
      .home-hero__create img {
        transform: rotate(45deg);
        width: 55px;
        padding-left: 3px; }
      .home-hero__create:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
  .home-container {
    color: #3b3838; }
    .home-container h2 {
      text-align: center;
      padding-top: 20px;
      font-size: 40px;
      font-weight: 300;
      color: #444; }
    .home-container-list {
      margin: 6% 22%; }

@media only screen and (max-device-width: 480px) {
  .home-container-list {
    margin: 3% 3%; } }

.tripmenu {
  font-weight: 300;
  background: #F0F0F0; }
  .tripmenu-grid {
    width: 1200px !important;
    max-width: 78% !important; }
    .tripmenu-grid h2 {
      margin: 30px auto;
      font-size: 40px;
      font-weight: 300;
      color: #444; }
  .tripmenu-category {
    width: 350px;
    height: 400px;
    background: #fff; }
    .tripmenu-category img {
      max-width: 350px; }
    .tripmenu-category h3 {
      font-weight: 200;
      font-size: 25px;
      text-align: center;
      margin-top: 15px; }
    .tripmenu-category button {
      margin: 50px 21%; }

.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
  color: white; }
  .navbar__logo {
    cursor: pointer;
    width: 250px; }
    .navbar__logo img {
      width: 40px;
      margin: 15px;
      margin-top: 15px;
      margin-left: 15px;
      margin-right: 5px; }
  .navbar h2 {
    display: inline;
    position: absolute;
    top: 15px;
    font-size: 30px;
    font-family: 'Arima Madurai', cursive; }
  .navbar__right {
    font-family: 'Work Sans', sans-serif; }
    .navbar__right-section {
      position: absolute;
      top: 32%;
      right: 10%; }
      .navbar__right-section_userImg {
        display: inline;
        position: absolute;
        top: -13px;
        right: 10px; }
        .navbar__right-section_userImg img {
          width: 47px;
          border-radius: 50%;
          cursor: pointer; }
      .navbar__right-section_notifyDot {
        height: 15px;
        width: 15px;
        background-color: #fe6340;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        top: -16px;
        right: -35px; }
      .navbar__right-section_notifyBox {
        width: 350px;
        height: 315px;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 3px; }
        .navbar__right-section_notifyBox-arrow {
          position: absolute;
          border-color: transparent transparent rgba(0, 0, 0, 0.5);
          border-style: solid;
          border-width: 0px 12px 12px;
          height: 0;
          top: 38px;
          left: -47px;
          width: 0;
          z-index: 12; }
      .navbar__right-section_logout {
        display: inline;
        cursor: pointer;
        position: absolute;
        width: 67px;
        margin-left: 14px; }
      .navbar__right-section_border {
        border-left: 1px solid white; }

.iconRef {
  display: none; }
